body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
    padding: 0;
    color: white;
    background-image: url(Images/background.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}
body h1{
  background-color: rgb(80, 10, 10);
  padding:10px 10px 10px;
}
img{
  size: 20px 20px;
}
header{
    background-color: rgb(212, 28, 28);
    color: white;
    padding: 20px;
}
header h1{
    margin: 0;
    font-size: 25px;
}
nav{
    text-align: center;
    font-weight: bold;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(197, 47, 110);
}
nav a{
    color:aqua;
    font-weight: bold;
 }
nav ul{
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav li{
    margin: 0 20px;
}
nav a{
    text-decoration: none;
    color: white;
}
main{
    max-width: 800px;
    margin: 0 auto;
    padding: 25px;
}
section {
    margin-bottom: 20px;
}
section h2{
    margin 0 0 20px 0;
    font-size: 20px;
}
footer{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
  }
  .grid-item {
    text-align: center;
  }
  .grid-item img {
    max-width: 100%;
    height: auto;
  }
  .grid-item p {
    margin: 5px 0;
  }
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0077b5;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    /*display: block;*/
    margin: 0 auto;
  }
  .button:hover {
    background-color: #005580; 
  }
  .container {
    display: flex;
    align-items: center;
  }
  .photo {
    width: 31s0px; 
    height: 250px; 
    margin-right: 20px; 
    border-radius: 50%; 
  }
  .text {
    flex: 1; 
  }
  .text h2 {
    margin-top: 0; 
  }
  .text p {
    margin-bottom: 0; 
  }
  h2{
    text-align: center;
  }
  .contact {
    padding: 20px 0;
    text-align: justify;
    background-color: rgb(197, 47, 110); 
    color: white;
}
.contact a {
    text-decoration: none;
    margin: 0 10px;
    color: #fff;
}
.contact a:hover {
    color: #0077b5;
}
#contacts-title{
  font-size:larger;
}
.contact-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    vertical-align: middle;
}

.email {
    color: #0077b5;
}
.linkedin {
    color: #0077b5;
}
.bordered {
  border: 0 solid pink;
  padding: 5px;
  display: inline-block; 
}
.icon {
  width: 100px;
  height: 100px;
  background-color: #007bff; 
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}
#email-icon{
  
}
hr{
  height: 1.75px;
  background-color: rgb(201, 156, 162);
}
#hr2{
    width: 65%;
    margin: 0 auto;
    height: 1px;
    color: rgb(146, 142, 142);
}
#aboutp {
  white-space: pre-wrap;
  overflow: hidden;
  animation: typing 3s steps(40, end);
  font-size: 16px; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
#aboutp::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 2px solid transparent;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
      border-color: transparent;
  }
}
.custom-icon { 
  font-size: 24px; 
}
#skills{
    display: flex;
    justify-content: center; 
}
#skills-title{
  font-size:larger;
}
#web-icon{
  color: orange;
}
#js-icon{
  color: #f0db4f;
}
#python-icon{
  color: #3b7fb7;
}
#mobile-icon{
  color: rgb(2, 181, 2);
}
*{
  scroll-behavior: smooth;
}